// Top Navigation

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 10vh;

        li {
            margin: 15px;

            &:hover {
                border-bottom: 4px solid $yellow;
            }

            &:active {
                border-bottom: 4px solid $orange;
            }

            &:focus {
               outline: 1px dotted $yellow; 
            }
       
        }

        a {
            text-transform: uppercase;
            letter-spacing: 3px;
        }
}



// Hamburger Menu
// Special credits to Erik Terwan's Codepen for the Hamburger Menu https://codepen.io/erikterwan/pen/EVzeRP?editors=1100

.hamburger {
    display: none;
    text-align: right;
    padding-right: 40px;

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

  
    // Menu Links Styling
    a  {
        @include font-size(40);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;

            &:hover {
                transition: color 0.3s ease;
                color: $yellow;
            }
        
    }

    li {
        padding: 20px 0;   
    }

    // Input Checkbox 
    .ham-input {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -10px;
        right: 0px;

        cursor: pointer;
        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;

            &:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(0px, 0px);
                background: $white;
            }

            &:checked ~ span:nth-last-child(3)
            {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:checked ~ span:nth-last-child(2)
            {
                opacity: 1;
                transform: rotate(-45deg) translate(0px, -2px);
            }

            &:checked ~ ul {
                transform: scale(1.0, 1.0);
                opacity: 1;
            }
    }
    //In order to trigger the menu to open and close based on the :checked attribute

    // Icon
    span {
        display: block;
        background: $white;
        height: 4px;
        width: 45px;
        margin-bottom: 10px;
        position: relative;
        right: -75%;

        z-index: 1;

        // Animate Spans on Click
        transform-origin: 4px 0px;
  
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:last-child {
                transform-origin: 0% 100%;
            }
    }
   
    
}

.hamburger-menu {
    position: absolute;
    width: 750px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -50px;
    height: 100vh;

    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95));
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


